html{
    scroll-behavior: smooth;
}
#main {
    background: #ded9ff;
    background: linear-gradient(#b49ad0,#ffc5f2, #90a6e1);
}
.logo{
    padding-bottom: 2rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    flex-direction: column;
}
.navbar * {
    color: #fff6fe;
    text-decoration: none;
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight:bold;
}
.navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar a:hover {
    text-decoration: underline dotted;
    text-decoration-thickness: 4px;
    /*text-decoration: underline*/
}
#elizabeth{
    font-family: 'Cormorant SC', serif;
    color: rgba(0, 0, 0, 0.39);
    font-size:25px;
    letter-spacing: .2rem;
}
.maintitle{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 49px;
    font-weight: lighter;
    padding-bottom: 2rem;
}
button{
    width: 130px;
    height: 70px;
    font-size: medium;
    background-color: transparent;
    /*border-color: rgb(106, 117, 138, 40%);*/
    color:#6a758a;
    border-radius: 10px;
    margin-top: 2rem;
    border-style: outset;
    /*border-style: dotted;*/
    border-width: 4px;
    border-color: rgb(106, 117, 138, 40%);
    padding: 6px;
}
button:hover {
    background-color: rgb(255, 246, 254, 50%);
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    flex-direction: column;
}
.images{
    display:flex;
    justify-content: center;
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.images img{
    width:200px;
}
.projectimages{
    display:flex;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(255, 246, 254, 30%);
    margin: 20px;
    border: 5px solid rgb(106, 117, 138, 30%);
    width: 325px;
}
.allsubtitles{
    color: #fff6fe;
    font-family: 'Lora', serif;
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #fff6fe;
    padding-bottom: 1rem;
}
.allprojectsubtitles{
    color: #fff6fe;
    font-family: 'Lora', serif;
    font-size: 22px;
    font-weight: bold;
    text-decoration-color: #fff6fe;
}
.allsubtext{
    color: rgb(106, 117, 138, 50%);
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
    width: 20rem;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(255, 246, 254, 30%);
    padding: 20px;
    border-style: dotted;
    border-width: 4px;
    border-color: rgb(255, 246, 254, 50%);
    margin-top: 30px;

}
.aboutmesubtext {
    color: rgb(106, 117, 138, 50%);
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
    width: 20rem;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(255, 246, 254, 30%);
    padding: 20px;
    border-style: dotted;
    border-width: 4px;
    border-color: rgb(255, 246, 254, 50%);
    margin-top: 30px;
    /*margin-right: 70px;*/
}
.skillslist{
    display:flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    text-align: center;
}
/*.skillsicons{*/
/*    color: rgb(106, 117, 138, 60%);*/
/*    font-size: 30px;*/

.individualskill{
    padding-bottom: 1.5rem;
    padding-top: 3rem;
}
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(106, 117, 138, 60%);
    font-size: 25pt;
    padding-right: 4px;
}
.icons a {
    margin: 0.5rem;
}
.icons a:hover {
    color: rgb(255, 246, 254, 50%);
}
.icons2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: rgb(106, 117, 138, 60%);
    font-size: 30px;
}
.icons2 a {
    padding:0.2rem;
    text-decoration: none;
    color: rgb(106, 117, 138, 60%);

}
.icons2 a:hover {
    color: rgb(255, 246, 254, 50%);
}
#totopbutton {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border-color: rgb(106, 117, 138, 60%);
    outline: #6a758a;
    background-color: transparent;
    color: #6a758a;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    width: 3rem;
    height: 2.5rem;
    border-style: solid;
    border-width: 2.5px;
}
#totopbutton:hover {
    background-color: rgb(255, 246, 254, 50%);
}
.aboutmeandcontactdiv{
     display: flex;
     flex-direction: column;
     align-items: center;
}
.submissionform{
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 700px) {
    .navbar {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 10px 0;
    }

    .navlinks {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        min-width: 600px;
    }

    .aboutmeandcontactdiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15rem;
    }

    button {
        margin-bottom: 2rem;
        height: 100px;
        width: 140px;
        font-size: large;
    }

    .allsubtext {
        font-weight: bold;
        font-size: 25px;
        width: 25rem;
    }

    .projectsrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .icons {
        font-size: 30pt;
        padding-left: 10px;
    }

    .icons2 {
        flex-direction: row;
        gap: 1.5rem;
        flex-wrap: wrap;

    }

    .images img {
        width: 250px;
    }

    .projectimages {
        width: 375px;
    }

    .allprojectsubtitles {
        font-size: 25px;
    }

    .allsubtitles {
        font-size: 50px;
    }
    .aboutmesubtext{
        font-weight: bold;
        font-size: 25px;
        width: 25rem;
    }
    .skillslist{
        gap: 15rem;
    }

    .leftRight{
        overflow: hidden;
        white-space: nowrap;
    }
}



/*<div>
<form class="submissionform">
<label>First Name</label>
<input id="firstname" type="text">
<label>Second Name</label>
<input id="secondname" type="text">
<label> Email Address</label>
<input id="emailaddress" type="text">
<label>Comment</label>
<input id="comment" type="text">
<input type="submit" value="submit">
</form>
</div>