html{
    scroll-behavior: smooth;
}
#main{
    background: #ded9ff;
    background: linear-gradient(#bdb5f3, #ffc5f2, #a9bae8);
}
.logo{
    padding-bottom: 2rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    flex-direction: column;
}
.navbar * {
    color: #fff6fe;
    text-decoration: none;
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight:bold;
}
.navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar a:hover {
    text-decoration: underline;
}
.maintitle{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 49px;
    font-weight: lighter;
    padding-bottom: 2rem;
}
button{
    width: 110px;
    height: 70px;
    font-size: medium;
    background-color: transparent;
    border-color: rgb(106, 117, 138, 40%);
    color:#6a758a;
    border-radius: 10px;
    margin-top: 2rem;
}
button:hover {
    background-color: rgb(255, 246, 254, 50%);
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    flex-direction: column;
}
.images{
    display:flex;
    justify-content: center;
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.projectimages{
    display:flex;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(255, 246, 254, 30%);
    margin: 20px;
    border: 5px solid rgb(106, 117, 138, 10%);
}
.allsubtitles{
    color: #fff6fe;
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #fff6fe;
    padding-bottom: 1rem;
}
.allprojectsubtitles{
    color: #fff6fe;
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration-color: #fff6fe;
}
.allsubtext{
    color: rgb(106, 117, 138, 50%);
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 20px;
    width: 20rem;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(255, 246, 254, 30%);
    padding: 20px;
}
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(106, 117, 138, 60%);
    font-size: 30px;
}

.icons a {
    margin: 0.5rem;
}

.icons a:hover {
    color: rgb(255, 246, 254, 50%);
}
.icons2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: rgb(106, 117, 138, 60%);
    font-size: 30px;
}

.icons2 a {
    padding:0.2rem;
    text-decoration: none;
    color: rgb(106, 117, 138, 60%);

}


.icons2 a:hover {
    color: rgb(255, 246, 254, 50%);
}
#totopbutton {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border-color: rgb(106, 117, 138, 20%);
    outline: #6a758a;
    background-color: transparent;
    color: #6a758a;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    width: 3rem;
    height: 2.5rem;
}

#totopbutton:hover {
    background-color: rgb(255, 246, 254, 50%);
}.aboutmeandcontactdiv{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

@media screen and (min-width: 735px) {
    .navbar {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 10px 0;
    }
    .navlinks {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        min-width: 400px;
    }
    .aboutmeandcontactdiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15rem;
    }
    button{
        margin-bottom: 2rem;
        height: 100px;
        width: 140px;
        font-size: large;
    }
    .allsubtext{
        font-weight: bold;
        font-size: 25px;
        width: 25rem;
    }
    .projectsrow{
        display:flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .icons2 {
        flex-direction: row;
        gap: 1.5rem;

    }
}
